* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.app{
    background: url('../assets//Background.png');
    min-height: 100vh;
    width: 99vw;
    position: absolute;
    z-index: -1;
}