.text-container {
    width: 125vh;
    height: 75vh;
    color: var(--Pure-White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages {
    overflow-y: auto; 
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 10px;
    padding: 5px;
}

.messages::-webkit-scrollbar {
    display: none;
}
.text-container::-webkit-scrollbar {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.cam-and-mic{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    padding: 20px;
    border-radius: 10px;
    margin-top: 70px;
}

.micOff {
    text-align: center;
    background-color: rgb(234, 18, 18);
    border-radius: 100%;
    padding: 1rem;
    margin: 15px;
    width: 13vh;
    height: 12vh;
}

.micOn {
    text-align: center;
    background-color: rgb(234, 18, 18);
    border-radius: 100%;
    padding: 1rem;
    margin: 15px;
    width: 13vh;
    height: 12vh;
}

.listen-status {
    color: var(--Pure-White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    background-color: rgb(9, 55, 139);
    margin-top: 1rem;
    padding: 1rem 2rem;
}

.textBox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: rgb(1, 14, 132);
    padding: 10px;
    border-radius: 10px;
}

.textInput-container {
    width: 100%;
}

#textBox {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: transparent;
}

::placeholder{
    color: wheat;
}

.sendBtn-container>button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: rgb(6, 132, 37);
    color: var(--Pure-White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 25px;
    align-items: center;
}

.sendBtn-container>button:hover {
    background-color: rgb(118, 224, 25);
    transition: 0.5s;
}

video {
    max-height: 30vh;
    border-radius: 10px;
}


.main-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
